<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Reverse Proxy from IIS to Next.js Node.js Server on Windows Server -->
    <webSocket enabled="false" />
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    
    <httpPlatform processPath="node.exe"
                  arguments=".\node_modules\next\dist\bin\next start -p %HTTP_PLATFORM_PORT% -H 0.0.0.0"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>

    <rewrite>
      <rules>
        <rule name="ReverseProxyToNextJs" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" /> <!-- 100MB Max Upload -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
